body {
  border: 3px solid black;
  margin: auto;
  text-align: center;
  background:  #f5f5f5
}
h1 {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px #e0e026;
  font-size: 42px;
}


button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  border-radius: 5%;
}
button:hover {
  text-shadow: 1px 1px #e0e026;
  border: 1px solid #e0e026;
  color: white;
  background-color:  black;
}

#score {
  color: #e0e026;
  text-shadow: 1px 1px black;
  font-size: 24px;
}

#display {
  font-size: 26px;
  text-shadow: 1px 1px #e0e026;
}

#playerIcon {
  display: inline-block;
}

#computerIcon {
  display: inline-block;
}